.form-furniture {
    margin-top: 25px;
}
.form-height{
    margin-left: 50px;
}
.form-widht{
    margin-left: 51px;
    margin-top: 25px;
}
.form-lenght{
    margin-left: 49px;
    margin-top: 25px;
}