$pcolor: #f70776;
.main{
    min-height: 90vh;

}
.form{
   margin-left: 90px;
   margin-top: 50px;
}
.form p{
    color:$pcolor;
 }
.form-sku{
    margin-left: 50px;
}
.form-name{
    margin-left: 42px;
}
.form-price{
    margin-left: 23px;
}
